/* CSS declarations go here */

body {
	font-size: 14px;
	font-family: sans-serif;
	background-color: white;
	padding:0;
}
#title {
	position: fixed;
	top:0px;
	left:0px;
	background-color:#eee;
	height: 120px;
	width: 100%;
	z-index: 10;
	opacity: .9;
}
#title .container {
	padding:1em;
}
ul {
	list-style: none;
	list-style-position: inside;
	margin:120px 0 0 0;
	padding:0;
	text-align: center;
}
ul li {
	position: relative;
	height:400px;
	width:100%;
	margin:10px auto;
}
ul li:first {
	border-top: 3px solid green;
}
ul li:last {
	border-bottom: 3px solid;
}
ul li.middle {
	background-color: red;
}
ul li img {
	height:100%;
}
ul li span {
	position: absolute;
	font-size: 150pt;
	color:white;
	opacity: 0.7;
}
ul li span:hover {
	opacity: 1.0;
	color:red;
	background-color: yellow;
}
hr {
	width: 25%;
	text-align: center;
}
#images {
	width:100%;
	margin: 0 auto;
	list-style: decimal;
	list-style-position: inside;

	position: absolute;
	top: 120px;
	left: 10px;
}
#images li {
	/*width: 40px;*/
	height: 400px;
	overflow: hidden;
}
#images li img {
	/*height: 40px;*/
}